<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
</head>
<body>
    
    <form onsubmit="handleSubmit(event)">
       
     <label for="product">
        Product Name:
     </label>
      <input type="text" id="product">
      <button type="submit">Submit</button>

    </form>
    <script src="
    https://cdn.jsdelivr.net/npm/axios@1.8.4/dist/axios.min.js
    "></script>
    <script src="/js/static.js"></script>
</body>
</html>